<h1>Log In Below:</h1>

<form action="/sessions" method="post">
  Email: <input type="text" name="email">
  Password: <input type="text" name="password">

  <input type="submit" name="Log in" value="Log in" id="Log in">
</form>
